<LinearLayout
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:layout_width="match_parent"
	android:layout_height="match_parent"
	android:orientation="vertical"
	android:padding="10dp">

	# first row
	
	<LinearLayout
		android:layout_width="wrap_content"
		android:layout_height="wrap_content"
		android:orientation="horizontal"
		android:layout_gravity="center_horizontal"
		android:layout_marginTop="15dp"
		android:id="@+id/layout1">
		<Button
			android:layout_width="100dp"
			android:layout_height="60dp"
			android:textSize="20sp"
			android:text=""
			android:layout_marginTop="20dp"
			android:id="@+id/btn1"
		/>
		<Button
			android:layout_width="100dp"
			android:layout_height="60dp"
			android:textSize="20sp"
			android:text=""
			android:layout_marginTop="20dp"
			android:id="@+id/btn2"
		/>
		<Button
			android:layout_width="100dp"
			android:layout_height="60dp"
			android:textSize="20sp"
			android:text=""
			android:layout_marginTop="20dp"
			android:id="@+id/btn3"
		/>
	</LinearLayout>

	# second row
	<LinearLayout
		android:layout_width="wrap_content"
		android:layout_height="wrap_content"
		android:orientation="horizontal"
		android:layout_gravity="center_horizontal"
		android:id="@+id/layout2">

		<Button
			android:layout_width="100dp"
			android:layout_height="60dp"
			android:textSize="20sp"
			android:text=""
			android:layout_marginTop="20dp"
			android:id="@+id/btn4"
		/>

		<Button
			android:layout_width="100dp"
			android:layout_height="60dp"
			android:textSize="20sp"
			android:text=""
			android:layout_marginTop="20dp"
			android:id="@+id/btn5"
		/>
		
		<Button
			android:layout_width="100dp"
			android:layout_height="60dp"
			android:textSize="20sp"
			android:text=""
			android:layout_marginTop="20dp"
			android:id="@+id/btn6"
		/>
	</LinearLayout>

	# third row
	<LinearLayout
		android:layout_width="wrap_content"
		android:layout_height="wrap_content"
		android:orientation="horizontal"
		android:layout_gravity="center_horizontal"
		android:id="@+id/layout3">

		<Button
			android:layout_width="100dp"
			android:layout_height="60dp"
			android:textSize="20sp"
			android:text=""
			android:layout_marginTop="20dp"
			android:id="@+id/btn7"
		/>

		<Button
			android:layout_width="100dp"
			android:layout_height="60dp"
			android:textSize="20sp"
			android:text=""
			android:layout_marginTop="20dp"
			android:id="@+id/btn8"
		/>
		
		<Button
			android:layout_width="100dp"
			android:layout_height="60dp"
			android:textSize="20sp"
			android:text=""
			android:layout_marginTop="20dp"
			android:id="@+id/btn9"
		/>
	</LinearLayout>

	<TextView
		android:text="No Winner"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:textSize="30sp"
		android:layout_gravity="center"
		android:textColor="#fff"
		android:background="#005A9C"
		android:gravity="center_horizontal"
		android:layout_marginTop="35dp"
		android:id="@+id/winTxt"
	/>


	<Button
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:textSize="26sp"
		android:text="Back to menu"
		android:layout_marginTop="35dp"
		android:background="#000"
		android:textColor="#fff"
		android:id="@+id/menu"
	/>

	<Button
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:textSize="26sp"
		android:text="Play again"
		android:layout_marginTop="5dp"
		android:background="#678"
		android:textColor="#fff"
		android:id="@+id/again"
	/>

</LinearLayout>