<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android" 
    android:layout_width="match_parent"
    android:layout_height="match_parent"
	android:orientation="vertical">
	<EditText
		android:hint="id: "
		android:id="@+id/et1"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:textSize="20sp"
	/>
	<TextView
		
		android:hint="fname"
		android:id="@+id/tv1"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:textSize="20sp"
	/>
	<TextView
		
		android:hint="lname"
		android:id="@+id/tv2"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:textSize="20sp"
	/>
	<TextView
		
		android:hint="age"
		android:id="@+id/tv3"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:textSize="20sp"
	/>
	<Button
		android:layout_width="match_parent"
		android:layout_height = "wrap_content"
		android:text="search"
		android:textSize="15sp"
		android:id="@+id/bt1"
	/>
	<Button
		android:layout_width="match_parent"
		android:layout_height = "wrap_content"
		android:text="search by name"
		android:textSize="15sp"
		android:id="@+id/bt3"
	/>
	<Button
		android:layout_width="match_parent"
		android:layout_height = "wrap_content"
		android:text="RETURN"
		android:textSize="15sp"
		android:id="@+id/bt2"
	/>

	<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android" 
    android:layout_width="match_parent"
    android:layout_height="match_parent"
	android:orientation="vertical"
	android:id="@+id/ll">
		
	</LinearLayout>
</LinearLayout>
